<footer class="py-5 text-center ">
   <div class="container">
      <div class="contact"> 
         <h2>Contact us</h2>
         <p><b>Address:-Plot.393,first floor,scheme no.114  Behind Abhikaran Honda Dewas Naka,Indore </b></p>
         <p><b>Mobile:-</b>6262-65-6868</p>                  
      </div>
      <div class="social-icons mb-3">
         <a href="#"><i class="fab fa-facebook"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
         <a href="#"><i class="fab fa-linkedin"></i></a>
         <a href="#"><i class="fab fa-skype"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <p class="mt-0 mb-0">&copy; Copyright 2018.
      </p>
   </div>
</footer>
