<header class="bg-danger text-white">
	<div id="particles-js"></div>
	<nav class="navbar osahan-navbar navbar-expand-lg navbar-dark" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top"><%= image_tag 'logo.png', class: 'img-fluid', alt:''%></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    <li class="nav-item">
                    	<a class="nav-link js-scroll-trigger" href="#screens">Screens</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link js-scroll-trigger" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link js-scroll-trigger" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link js-scroll-trigger" href="#clients">Clients</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link js-scroll-trigger" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link js-scroll-trigger" href="#about us">About us</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link js-scroll-trigger" href="#trial">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="banner-block pb-0" id="banner">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12 text-center">
    				<h1 class="text-white">Best <strong>Digital</strong> Marketing Agency</h1>
    				<p class="lead mb-5 text-white">A Landing Page Template Freshly Redesigned For Bootstrap 4</p>
    				<p class="mb-0"><button type="button" class="btn btn-light btn-lg"><a href="#trial">GET REGISTER</a></button> &nbsp; <!-- <button type="button" class="btn btn-outline-light btn-lg">READ MORE</button> --></p>
    				<div class="mb-5"></div>
    				<%= image_tag 'phone2.png', class:'img-fluid mt-5 wow fadeInUp', alt:''%>
    			</div>
    		</div>
    	</div>
    </section>
    <div class="effectiv">
    	<img class="svg" src="img/bg.svg" alt="" />
    </div>
</header>
